.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .profile-pic {
    position: relative;
    width: 450px; 
    height: 550px;
    margin-left: 40%;
    display: block;
    border-radius: 10%; 
    transition: bottom 1s ease-in;
  }
  
  