html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Adjusted height */
    width: 50%;  /* Adjusted width */
    position: absolute;
    top: 0;   /* Centered vertically */
    right: 5%;  /* Centered horizontally */
    overflow: hidden;
    z-index: 1; /* Lower z-index to ensure it doesn't block other elements */
}


.profile-pic {
    position: relative;
    width: 70%; 
    height: auto;
    display: block;
    border-radius: 10%; 
    transition: bottom 1s ease-in 5s;
}