html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 35%; /* Adjusted to maximum 50% of viewport width */
    position: absolute;
    top: -10%;
    right: 15%; /* Adjusted to 10% from the right */
    overflow: hidden;
    z-index: 1;
}

.profile-pic {
    position: relative;
    width: 70%; /* Adjusted to fill the container */
    height: auto;
    display: block;
    border-radius: 10%; 
    transition: bottom 1s ease-in 5s;
}
