.home-page {
    display: flex; /* Ensures both sides are considered */
    justify-content: space-between; /* Space between left and right halves */
    height: 100%;
    padding: 0 5%; /* Adjust padding as needed */

    .text-zone {
        position: absolute;
        left: 10%;
        top: 45%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
        display: flex;
        flex-direction: column; /* Stack children vertically */
        align-items: flex-start; /* Align children to the start */
    }

    .hi-section {
        font-size: 5rem; /* Adjust size as needed */
        color: #fff;
        font-family: 'Georgia';
        font-weight: 400;

        &::before {
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: -40px;
            left: 15px;
            opacity: 0.6;
        }

        &::after {
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: 18px;
            margin-left: 20px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
        }
    }

    .name-section {
        font-size: 7rem; /* Larger size for name section */
        color: #fff;
        margin: 0;
        margin-bottom: 5%;
        font-family: 'Georgia';
        font-weight: 400;

        &::before {
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: -40px;
            left: 15px;
            opacity: 0.6;
        }

        &::after {
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: 18px;
            margin-left: 20px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
        }
    }

    .job-section {
        font-size: 15px; /* Larger size for name section */
        color: hsl(0, 0%, 100%);
        margin: 0;
        font-family: 'Georgia';
        font-weight: 400;

        &::before {
            color: #ffd700;
            font-size: 18px;
            position: absolute;

            left: 15px;
            opacity: 0.6;
        }

        &::after {
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: 18px;
            margin-left: 20px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
        }
    }

    p {
        font-size: 1rem; /* Adjust font size as needed */
        line-height: 1.5; /* Adjust line height for readability */
        color: #848282; /* Text color */
        font-family: sans-serif; /* Font family */
        max-width: 80%; /* Adjust the maximum width to your preference */
        margin: 0; /* Center the paragraph within its container */
    }
    


    .flat-button {
        color: #ffd700;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid #ffd700;
        margin-top: 10%;
        margin-bottom: 10%;
        float: left;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;

        &:hover {
            background: #ffd700;
            color: #333;
        }
    }

    h2 {
        color: #ffffff;
        margin-top: 20%;
        font-weight: 400;
        font-size: 11px;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 1.8s backwards;
    }
}

